@font-face {
    font-family: consolas;
    src: url("Consolas.ttf");
}
* {
    font-family:consolas;
    user-select: none;
    font-size: 20px;
    color:white;
    overflow-x:hidden;
    margin:0;
    padding:0;
}
body {
    background-color: black;
}
#bar {
    width: 100vw;
    background-color: white;
    color:black;
}
input {
    background-color:transparent;
    border:none;
    width: 80vw;
}
input:focus{
    outline: none;
}
#output {
    white-space: pre;
}